.projeCardDelete {
    height: 300px;
    width: 100%;
    gap: 0.3rem;
    display: flex;
  
    .img {
      width: 55%;
      height: 100%;
      border-radius: 15px;
  
      img {
        border-radius: 15px;
        width: 100%;
        height: 100%;
      }
    }
  
    .detayCard {
      padding: 25px 15px 25px 15px;
      height: 100%;
      width: 45%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      justify-content: space-between;
  
      .desc {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        p {
          font-family: "Roboto", "Helvetica", "Arial", sans-serif;
          font-size: 0.75rem; /* Bu, genelde body1 için varsayılan boyuttur */
          font-weight: normal; /* Genellikle normal (400) ağırlık */
          line-height: 1.5; /* Okunabilirliği artırmak için */
          letter-spacing: 0; /* Harf aralığı */
        }
      }
  
      .buttonCard {
        display: flex;
        gap: 1rem;

        button {
          background-color: black;
          color: whitesmoke;
          padding: 10px;
          border-radius: 5px;
          font-size: 0.75rem;
        }

        .delete{
        background-color: darkred;
          color: whitesmoke;
          padding: 10px 15px;
          border-radius: 5px;
          font-size: 0.75rem;
        }

        .update{
          background-color: darkblue;
        }
      }
    }
  }
  