.acardion-template {
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .acardion {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 250px;
    gap: 1rem;
    transition: 0.3s;

    li {
      &:hover {
        flex: 0 1 270px;
        // scale: 1.1;
        z-index: 10;
        opacity: 1;

        .content {
          opacity: 1;
          visibility: visible;

          span {
            translate: -50% 0;
            opacity: 1;
            visibility: visible;
          }
        }
      }

      position: relative;
      overflow: hidden;
      flex: 0 0 20%;
      border-radius: 30px;
      opacity: 0.8;
      cursor: pointer;
      transition: 0.5s;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.3s;
      }

      .content {
        transition: 0.3s;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        color: #fff;
        padding: 15px;
        background: #02022e;
        background: linear-gradient(
          0deg,
          rgb(0 0 0 / 70%) 10%,
          rgb(255 255 255 / 0%) 100%
        );
        opacity: 0;
        visibility: hidden;
        span {
          display: flex;
          flex-direction: column;
          gap: 0.7rem;
          transition: 0.3s;
          position: absolute;
          z-index: 3;
          left: 50%;
          top: 65%;
          translate: -300px 0;
          visibility: hidden;
          opacity: 0;

          h2 {
            font-weight: 400;
            font-size: 1rem;
            line-height: 45px;
            border-bottom: 2px solid #fff;
            white-space: nowrap;
          }

          p {
            font-size: 0.85rem;
          }
        }
      }
    }

    @media (max-width: 768px) {
      width: 100%;
      justify-content: space-around;
      :nth-child(3) {
        display: none;
      }
      li {
        flex: 0 1 270px;
        z-index: 10;
        opacity: 1;

        .content {
          opacity: 1;
          visibility: visible;

          span {
            translate: -50% 0;
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    @media (max-width: 1024px) {
      width: 100%;
      justify-content: space-around;

      li {
        flex: 0 1 270px;
        // scale: 1.1;
        z-index: 10;
        opacity: 1;

        .content {
          opacity: 1;
          visibility: visible;

          span {
            translate: -50% 0;
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
  @media (max-width: 1024px) {
    justify-content: space-between;
  }
}
