.anaTitle {
  .title {
    margin-bottom: 0.1rem;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.125;
    text-align: center;

    @media (max-width:1024px) {
      font-weight: 600;
      font-size: 1.5rem;
    }
  }
  .desc {
    font-size: 1rem;
    text-align: center;

    @media (max-width:1024px) {
      font-size: 0.8rem;
    }
  }
}
